

html, body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: underline;
}



nav{
    display: flex;
    padding: 15px;
    color: rgba(0,0,0,0.87);

}



.nav-right, .nav-left{
    display: flex;
    align-items: center;
    padding: 10px 0px;
    gap: 20px;
    
}

span.icon-grey {
    color: #818181;
    padding:5px;
}

span.icon-grey:hover{
    color: black;
    background-color: rgb(238, 236, 236);
    border-radius: 50%;
}

.nav-left{
    margin-right:auto;
}


.user-logo{
    border-radius: 50%;
    padding: 2.5px;
}

.user-logo:hover{
    background-color: rgb(238, 236, 236);
}





.main{
    margin: auto 0;
    padding: 5%;
    display: flex;
    flex-direction:column;
    gap: 25px;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 25px;
    width: 100%;
}


.search-field{
    height: 45px;
    width: min(582px,95%);
    margin: auto;
    border: 1px rgb(225, 225, 225) solid;
    border-radius: 22.5px;
    display: flex;
    justify-content: center;

}

.search-field:hover{
    box-shadow: 0px 1px 5px grey;
}

input{
    width: 90%;
    border: none;
    font-size: 14px;
}

textarea:focus, input:focus{
    outline: none;
}

.search-icon{
    padding: 10px;
    color: grey;
}

.google-mic-icon{
    padding: 10px 15px;
}




.buttons{
    display: flex;
    justify-content: center;
    
}

button{
    padding: 0.75rem 1.5rem;
    margin: 0 3px;
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;

}

button:hover{
    border: 1px solid rgb(201, 201, 201);
    border-radius: 5px;
    box-shadow: 0.5px 0.5px rgb(156, 156, 156);
}









footer{
    display: flex;
    margin-top: auto;
    height: 40px;how
    padding: 10px 20px;
    background-color: #F3F3F3;
    border-top: 1px solid #E7E7E7 ;
    color: #686868;
}



.footer-right, .footer-left{
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-left{
    margin-right: auto;
}